/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(235, 73, 14);
    color: white;
    padding: 20px;
    text-align: center;
}

header nav a {
    color: white;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
}

.product-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}

.product-item {
    background-color: lightyellow;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 250px;
    border-radius: 8px;
    transition: transform 0.2s ease-in-out;
}

.product-item:hover {
    transform: scale(1.05);
}

.product-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.price {
    font-size: 1.2em;
    color: #333;
    margin: 10px 0;
}

.buy-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.buy-btn:hover {
    background-color: #45a049;
}
